/*
* 
*
*
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

body {
    background-color: var(--transparent);
}

#app-mount {
    background-image: var(--bg-src) !important;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.app-1q1i1E,
.app-2rEoOp,
.bg-h5JY_x,
.inset-3sAvek,
.outer-1AjyKL.interactive-3B9GmY,
.topSectionPlaying-1J5E4n {
    background: none;
}

.theme-dark .outer-1AjyKL.active-1xchHY,
.headerPlaying-j0WQBV {
    background: none !important;
}

.body-3iLsc4,
.footer-1fjuF6 {
    background: none !important;
}


.outer-1AjyKL.interactive-3B9GmY:hover {
    background-color: var(--kda-color);
}

.popout-38lTFE,
.popouts-2bnG9Z {
    background-color: var(--kda-popout);
}

.header-2BwW8b,
.headerNormal-T_seeN {
    background: none !important;
}

.backdrop-1wrmKB,
.backdropWithLayer-3_uhz4 {
    margin: 30px;
    top: 22.5px;
    background-color: rgba(0, 0, 0, 2) !important;
    border-radius: var(--kda-border-size);
}

.header-QKLPzZ {
    background-color: transparent;
}

.inner-1ilYF7 {
    margin: 10px;
    background-color: var(--kda-color);
    border-radius: var(--kda-border-size);
}

.tabBarContainer-1s1u-z {
    background: none;
}

.headerFill-adLl4x {
    background-color: rgba(102, 29, 174, 0.69) !important;
}

.contentWrapper-SvZHNd,
.layerContainer-yqaFcK {
    background-color: var(--kda-popout);
}

.layer-v9HyYc {
    background-color: var(--kda-popout);
    border-radius: 10px;
}

.lookFilled-1Gx00P.colorGrey-2DXtkV,
.lookLink-9FtZy-.colorPrimary-3b3xI6,
.background-1QDuV2,
.formNotice-2_hHWR {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: var(--kda-border-size);
}

.autocomplete-1vrmpx {
    background-color: rgba(0, 0, 0, 0.8) !important;
    border-radius: var(--kda-border-size);
}

.selected-1Tbx07 {
    background-color: rgba(0, 0, 0, 0.9) !important;
}

.authedApp-mj2Hmd,
.connection-1fbD7X,
.accountList-33MS45 {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: var(--kda-border-size);
}

.popout_367,
.container-3ayLPN {
    background-color: rgba(0, 0, 0, 0.8) !important;
    border-radius: var(--kda-border-size);
}

.paymentHistory-2FXzro,
.codeRedemptionRedirect-1wVR4b {
    background-color: rgba(0, 0, 0, 0.8) !important;
    border: none;
    background: none;
    padding: 20px;
    border-radius: var(--kda-border-size);
}

.codeRedemptionRedirect-1wVR4b {
    text-align: center;
}

.cooldownWrapper-3joyFc {
    margin-top: 11px;
    font-size: 9px;
}


.paginator-166-09,
.payment-xT17Mq {
    background: none !important;
}

.container-1D34oG {
    background-color: none;
}

.interactive-3B9GmY {
    background-color: red;
}

.app-1q1i1E {
    margin: var(--kda-margin);
    background-color: var(--kda-color);
    border-radius: var(--kda-border-size);
}

.container-3RCQyg {
    margin: 0;
}

.message-2qnXI6 {
    margin: 2px;
}

.typeWindows-1za-n7 {
    background: transparent !important;
    height: 18px;
    margin-top: 0px;
    padding-top: 5px;
}

.scrollableContainer-2NUZem {
    margin: 6px;
    position: relative;
    top: 10px;
}

.profile-1eT9hT+.fieldList-21DyL8>.field-1HUseB:not(:first-child) .colorHeaderPrimary-26Jzh- {
    filter: blur(5px);
    transition: filter 0.5s
}

.profile-1eT9hT+.fieldList-21DyL8>.field-1HUseB:not(:first-child):hover .colorHeaderPrimary-26Jzh- {
    filter: blur(0px);
}

.typeWindows-1za-n7>.wordmark-2iDDfm {
    position: static;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    order: 1
}

.typeWindows-1za-n7>.wordmark-2iDDfm:before,
.typeWindows-1za-n7>.wordmark-2iDDfm:after {
    margin-left: 6px;
    font-weight: 600;
    white-space: nowrap;
    order: 1
}

.typeWindows-1za-n7>.wordmark-2iDDfm:before {
    content: "KDA Theme";
    color: rgb(131, 3, 190);
    font-family: var(--top-font);
    font-size: 15px;
    text-shadow: 0 0 3px #000
}

.typeWindows-1za-n7>.wordmark-2iDDfm:after {
    content: var(--kda-version);
    color: rgb(255, 255, 255);
    font-family: var(--top-font);
    font-size: 13px
}

.typeWindows-1za-n7>.wordmark-2iDDfm>svg>path {
    fill: var(--main-color)
}

.typeWindows-1za-n7>.wordmark-2iDDfm>svg {
    -webkit-filter: drop-shadow(0 0 5px var(--main-color));
    filter: drop-shadow(0 0 5px var(--main-color))
}

.winButton-iRh8-Z {
    background-color: var(--kda-color);
    top: -5px;
    width: 50px;
    height: 44px;
}

/*
 *
 * Copied from https://capnkitten.github.io/BetterDiscord/Themes/Translucence/css/source.css
 *	SUPPORTED PLUGINS
 *
 */
/* SUPPORTED PLUGINS -> CharCounter */
.charCounter-7fw40k {
    position: relative;
    z-index: 1;
}

.chatCounter-XOMPsh {
    bottom: auto;
}

.counter-uAzbKp {
    width: 100%;
    height: 35px;
    padding: 0 16px;
    line-height: 35px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    text-align: right;
    font-weight: 500;
}

/* SUPPORTED PLUGINS -> EditUploads*/

#EditUploadsToolbar {
    background-color: transparent;
}

/* SUPPORTED PLUGINS -> HideChannels */
.sidebar-2K8pFh.hideElement .container-3baos1 {
    position: absolute;
    overflow: hidden;
}

.sidebar-2K8pFh.hideElement .container-3baos1,
.sidebar-2K8pFh.hideElement .container-3baos1:before {
    background-color: transparent !important;
    border-radius: 0;
    box-shadow: none !important;
}


/* SUPPORTED PLUGINS -> ServerSearch */
.popoutRight-1veHKi.noArrow-2foL9g {
    overflow: hidden;
}